.input-box {
  width: 100%;
  height: 52px;
  margin-top: 25px;
  &__title {
    margin: 0;
    color: #444c63;
    font-family: "Arial - Bold MT", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 10px;
  }
  &__asterisk {
    color: red;
  }
  &__input-field {
    width: 100%;
    height: 32px;
    margin-top: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    border: 1px solid rgba(140, 151, 178, 0.4);
  }
  &__input-field::placeholder {
    color: #8c97b2;
    font-family: "Arial MT", sans-serif;
    font-size: 13px;
  }
  .failed-validation {
    border-color: red;
  }
  .successful-validation {
    border-color: green;
  }
}
.short-input {
  width: 240px;
}
