.book-item {
  margin: 30px 10px 0;
  width: 200px;
  &__poster {
    width: 200px;
    height: 275px;
  }
  &__meta {
    margin-top: 12px;
  }
  .meta {
    height: 60px;
    &__info {
      display: flex;
      flex-direction: column;
      .meta__book-title {
        margin: 0;
        color: #444c63;
        font-family: "Arial - Bold MT", sans-serif;
        font-size: 16px;
        line-height: 13px;
      }
      .meta__author-name {
        margin-top: 8px;
        color: #6f7d95;
        font-family: "Arial MT", sans-serif;
        font-size: 12px;
        line-height: 9px;
      }
    }
    &__stars-box {
      margin-top: 15px;
      .star {
        font-size: 13px;
        color: #ffab00;
      }
    }
  }
}

