@font-face {
  font-family: Arial - Bold MT;
  src: url("../data/fonts/Arial - Bold MT.woff");
}
@font-face {
  font-family: Arial MT;
  src: url("../data/fonts/Arial MT.woff");
}
body {
  min-height: 100vh;
  margin: 0;
  #root {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
  }
  .content-container {
    width: 100%;
  }
  .page-content {
    width: 100%;
  }
}
@media only all and (max-width: 1540px) {
  #root {
    min-width: 1540px;
  }
}
@media only all and (max-width: 1320px) {
  #root {
    min-width: 1320px;
  }
}
@media only all and (max-width: 1100px) {
  #root {
    min-width: 1100px;
  }
}
@media only all and (max-width: 880px) {
  #root {
    min-width: 880px;
  }
}
@media only all and (max-width: 660px) {
  #root {
    min-width: 660px;
  }
  .page-aside {
    min-width: 180px;
  }
  .add-book-window {
    margin-top: 70px;
    width: 600px;
  }
  .short-input {
    width: 200px;
  }
}
