@font-face {
  font-family: Arial - Bold MT;
  src: url("https://nomail.com.ua/files/woff/e3e25078783f7c68baa17f05a6d4ae75.woff");
}
@font-face {
  font-family: Arial MT;
  src: url("https://nomail.com.ua/files/woff/b267362fe0bf162719681f797a756433.woff");
}
body {
  min-height: 100vh;
  margin: 0;
  #root {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
  }
  .page-content {
    width: 100%;
  }
}
